@media only screen and (max-width: 1320px){
    #greekSubmit{ font-size: 1em;}
}

@media only screen and (max-width: 1150px){
    .heading h1{ font-size: 3.5em;}
    .heading h3{ font-size: 2.5em;}
    .horLine{width: 17em;}
    
    .projectImage{
        width: 17em;
        height: 17em;
    }
    
    .projectInfo{ font-size: .9em; }
    .projectsRowItem{ margin-bottom: 1em;}
    
    .contactMeBlock{ width: 40%;}
    
    .contactMeLinks a{ 
        font-size: 1em;
        text-align: center;
    }
}

@media only screen and (max-width: 980px){
    .projectsContainer{
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .projectsRow{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .projectImage,
    .projectsRowItem .projectOptions{ 
        width: 18em;
        height: 18em;
    }

    .projectInfo p{display: block;}
}

@media only screen and (max-width: 965px){
    .aboutSection{
        flex-direction: column;
        align-items: center;
        margin: 0 5em;
    }
    
    .aboutMessage{ width: 100%;}  
}

@media only screen and (max-width: 975px){
    footer{
        display: flex;
        flex-direction: column;
    }
    
    footer .footerLinks{
        position: relative;
        bottom: 0;
        right: 0;
    }
}

@media only screen and (max-width: 880px){
    footer .footerLinks a{ text-align: center;}
}

@media only screen and (max-width: 835px){
    .menuIcon{ display: inline-block;}
    .navbar{ display: none;}
    .heading h1{ font-size: 2.2em;}
    .heading h3{ font-size: 1.8em;}
    
    .aboutSection{
        margin: 2em 2em;
        flex-direction: column;
    }
    
    .aboutMessage,
    .aboutInterests{ width: 100%;}
    
    .aboutInterests{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .projectImage{ margin-bottom: 2em;}
    
    .projectImage,
    .projectsRowItem .projectOptions{
        width: 14em;
        height: 14em;
    }
    
    .projectInfo p{ display: none;}
    
    .contactContainer{
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    
    .contactMeBlock{ 
        width: 80%;
        text-align: center;
    }
    
    .contactMeLinks{ 
        display: block;
        font-size: 2.2em;
    }
    
    .contactMeLinks a{ 
        margin: 0 .4em;
        justify-content: space-between;
    }
}

@media only screen and (max-height: @height){
    #navi{
        background-color: #1f1f1f;
        opacity: .5;
    }
}

@media only screen and (max-width: 590px){
    .footerText{ flex-direction: column;}
}


@media only screen and (max-width: 560px){
    .sectionTitle h2{ font-size: 2em;}
    
    .projectImage,
    .projectsRowItem .projectOptions{
        width: 14em;
        height: 14em;
    }
}

@media only screen and (max-width: 490px){
    .projectImage,
    .projectsRowItem .projectOptions{
        width: 16.5em;
        height: 16.5em;
    }
    
    .projectInfo p{ display: block;}
}
    

@media only screen and (max-width: 450px){
    .projectsRow{ flex-direction: column;}
}

@media only screen and (max-width: 400px){
    .projectImage,
    .projectsRowItem .projectOptions{
        width: 14em;
        height: 14em;
    }
    
    .projectInfo p{ display: none;}
}

@media only screen and (max-width: 360px){
    .projectsContainer{ margin: 3em 0em 4em 0em;}
    .sectionTitle h2 span{ display: none;}
    
    .projectImage{
        width: 12em;
        height: 12em;
    }
    
    .projectsRowItem .projectOptions{ font-size: .85em;}
}