/*General Styles*/
:root{
    --textColor: #333;
    --markColor: #DD9309;
    --altTextColor: #EEE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    color: var(--textColor);
}

body{
    background-color: #DDD;
    font-size: 16px;
}

a{
    text-decoration: none !important;
    outline: none !important;
    color: var(--textColor);
}

ul{ list-style: none;}

/*-----------------------------------------------*/

/*HEADER*/
/*Background Image*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .9)), url(imgs/back.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

/*Navigation Bar*/
.navigation{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.expand { max-height: 20em;}

.navigationScroll{
    background-color: #efefef;
    opacity: .95;
    transition: all .3s ease-out;
    box-shadow: 0px 0px 5px black;
}

.navLogo img{
    width: 2.7em;
    margin: .3em 2em .3em 3em;
    transition: all .5s ease-in-out;
}

.navLogo img:hover{
    filter: drop-shadow(0px 0px 5px #DD9309);
    transform: rotate(360deg);
}

.greek img,
.english img{
    background-color: var(--altTextColor);
    border-radius: .2em;
    border: 2px solid #999;
    width: 2.3em;
	margin-bottom: .8em;
	margin-right: 1em;
    transition: all .5s ease-in-out;
}

.greek img:hover,
.english img:hover{ filter: drop-shadow(0px 0px 5px #DD9309);}

.menuIcon{
    display: none;
    float: right;
    font-size: 1.8em;
    margin: .4em 1em 0 0;
    color: var(--altTextColor);
    cursor: pointer;
    transition: color .3s;
}

.menuIcon:hover{ color: var(--markColor);}

.onNavColor{ color: var(--textColor);}

.navigationScroll .onNavColor a{ color: var(--textColor);}

.navLink:hover{
    border-bottom: 2px solid var(--markColor);
    color: var(--markColor) !important;
}

.navbar{
    float: right;
    overflow: hidden;
    margin: 1.2em 1.5em;
}

.navLink{
    color: var(--altTextColor);
    text-transform: uppercase;
    margin-right: 2em;
    padding-bottom: .3em;
    font-weight: bold;
    transition: color .3s;
    cursor: pointer;
}

/*Header Title*/
.mainBanner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: #FFF; /*Header title with white color*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading h1,
.heading h3{ margin-bottom: .2em;}

.heading h1{ font-size: 4.5em;}

.heading h3{ font-size: 2.5em;}

/*Horizontal Line*/
.horLine{
    display: block;
    height: 3px;
    width: 16em;
    background-color: var(--markColor);
    margin-top: 1em;
}

/*-----------------------------------------------*/

/*Section 1 : About*/
.sectionTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6.5em 0 2em 0;
}

.sectionTitle h2{ font-size: 3em;}

.sectionHorLine{
    display: block;
    height: 5px;
    width: 10em;
    background-color: var(--markColor);
    margin-top: 1em;
}

.aboutSection{
    display: flex;
    flex-direction: row;
    margin: 0em 4em;
    font-size: 1.2em;
}

.aboutMessage{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.aboutInterests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.scientificInterests{
    font-size: 1.1em;
    padding: 1.2em;
    border: 5px solid var(--markColor);
    border-radius: 30% 5%;
    box-shadow: 10px 10px 15px var(--textColor);
}

.scientificInterests h3{ margin-bottom: .5em;}

.interestsList{ line-height: 1.4em;}

.cvOption{
    border: 3px solid var(--markColor);
    margin: 1.5em 0; 
    padding: .7em;
    border-radius: 20px; 
}

.cvOption:hover{
    background-color: rgba(221, 147, 9, .8);
    color: var(--textColor);
    border: 3px solid var(--textColor);
    font-weight: bold;
    cursor: pointer;
}

.sectionDivider{
    content: " ";
    height: 4px;
    width: 70%;
    margin: 4em 15%;
    box-shadow: 5px 5px 1px var(--textColor);
    opacity: .4;
}

/*-----------------------------------------------*/

/*Section 2 : Projects*/
.projectsContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 4em 8em;
}

.projectsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: .5em 0 3em 0;
}

.projectsRowItem{ text-align: center;}

.projectsRowItem .project{
    display: block;
    position: relative;
}

.projectImage{
    width: 18em;
    height: 18em;
    border-radius: 12px;
    box-shadow: 0px 0px 15px var(--textColor);
}

.project:hover .projectImage{
    opacity: .6;
    filter: blur(4px);
}

.projectsRowItem .projectOptions{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    border: 4px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.70);
    box-shadow: 0px 0px 2px #000;
    transition: all 0.4s ease;
    color: #FFF;
}

.project:hover .projectOptions{
    opacity: .9;
    visibility: visible;
}

.projectsRowItem .projectOptions .projectInfo h2{
    font-size: 1.5em;
    padding: .5em 0 0 0;
}

.projectsRowItem .projectOptions .projectInfo p{
    padding: 0 .8em;
    font-size: 1.1em;
}

.projectsRowItem .projectOptions .projectLinks{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.projectLinks a{
    display: block;
    font-size: 2.4em;
    color: #FFF;
}

.projectsRowItem .projectOptions .projectLinks .fas{ transform: rotate(44deg);}

.projectLinks a:hover{ filter: drop-shadow(0px 0px 5px #DD9309);}

/*-----------------------------------------------*/

/*Section 3 : Contact*/
.contactContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactMe h3{
    font-size: 1.6em;
    margin: .5em;
    text-align: center;
    padding: .3em 0;
}

.contactMeBlock{ width: 30%;}

.contactMe{
    display: flex;
    flex-direction: column;
}

.contactMe p{
    font-size: 1.3em;
    line-height: 1.6em;
    margin: 0 10%;
}

.contactMeLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-size: 3.2em;
    margin-top: 1em;
}

.contactMeLinks a{ transition: all .2s ease-in-out;}

.contactMeLinks a:hover{ filter: drop-shadow(0px 0px 5px var(--markColor));}

/*-----------------------------------------------*/

/*Footer*/
footer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: .7em 0;
    background-color: var(--textColor);
    opacity: 0.9;
    box-shadow: 0px 0px 5px grey;
}

footer p{
    font-size: 1.2em;
    color: var(--altTextColor);
}

.footerText{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerText p{ margin: 0em .2em;}

footer .footerLinks{
    position: absolute;
    top: .4em;
    right: 1em;
    font-size: 1.5em;
}

footer .footerLinks a{
    color: var(--markColor);
    margin-right: 1em;
    transition: all .2s ease-in-out;
}

footer .footerLinks a:hover{
    color: var(--altTextColor);
    filter: drop-shadow(0px 0px 2px var(--markColor));
}

/*-----------------------------------------------*/

/*Back to top icon*/
.toTop a .fas{
    display: block;
    position: fixed;
    bottom: 2.5em;
    right: 1em;
    font-size: 1.2em;
    transform: rotate(90deg);
    background-color: var(--textColor);
    border: 2px solid #555;
    color: var(--markColor);
    border-radius: 20%;
    padding: .4em .4em .5em .4em;
}

.toTop a .fas:hover{
    background-color: var(--markColor);
    color: var(--textColor);
}

.hide{ display: none;}

/*----------------------------------------------*/

/*Responsive Navigation Bar*/
.navbarResponsive{ display: none;}

.responsive{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.responsive a{ 
    margin-bottom: 1em;
    padding: .2em 0;
}

.responsive a:hover{
    background-color: #8e8e8e;
    color: #FFF;
}

.responsiveTop{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
    background-color: #FFF;
}

.navTopMenu{ background-color: rgba(51, 51, 51, .98);}
.navTopMenu a{ color: #FFF;}
.navTopMenu .navbarResponsive a{ text-shadow: 2px 2px #000;}
.closeOpenMenu{ display: none;}